/*place global styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
  background: rgba(var(--color-surface-500) / 1) !important;
}

.main-container {
  background: #2b2c2e;
}

.grid-image {
  background-image: url('/home_background.png');
  background-size: auto;
  background-repeat: repeat-x;
  background-position: bottom;
  background-blend-mode: multiply;
}
